* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --base: #1A556C;
  --base-light: #4B8196;
  --base-dark: #022C3C;
  --complement1: #AC8524;
  --complement2: #AC3B24;
  --complement2-light: #EF8873;
  --light-gray: #C9D6D8;
  --dark-gray: #16181B;
  --black: #15171A;
}

html {
  font-size: 10px;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--base);
}

.wrapper {}
header {
  text-align: center;
  padding: 4% 4%;
  min-height: 10%;
}

h1 {
  font-size: 4rem;
  color: var(--light-gray);
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 4.5rem;
  }
}

nav {
  padding: 5%;
  margin-bottom: 5%;
  text-align: center;
  background-color: var(--base-light);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

@media (min-width: 800px) {
  nav {
    padding: 2%;
  }
}

@media (min-width: 1400px) {
  nav {
    padding: 1%;
  }
}

nav li {
  display: inline-block;
  margin-right: 3%;
  border-bottom: 2px solid var(--complement2);
  line-height: 1.4rem;
}

nav li:last-child {
  margin-right: 0;
}

nav li a {
  font-size: 1.8rem;
  font-family: 'Oswald', sans-serif;
  color: var(--light-gray);
  text-decoration: none;
}

@media (min-width: 1000px) {
  nav li a {
    font-size: 2.2rem;
  }
}

@media (max-width: 434px) {
  nav ul li:last-child {
    margin-top: 3%;
  }
}

.wrapper {
  min-height: 100%;
  position: relative;
}

main {
  max-height: 80%;
  padding: 0 10%;
  padding-bottom: 10%;
  margin-top: 5%;
}

@media (min-width: 800px) {
  main {
    padding: 0 20%;
    padding-bottom: 10%;
  }
}


@media (min-width: 1400px) {
  main {
    padding: 0 25%;
    padding-bottom: 5%;
  }
}

main h2 {
  color: var(--light-gray);
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-bottom: 5%;
}

@media (min-width: 1000px) {
  main h2 {
    font-size: 3.5rem;
  }
}

main p {
  color: var(--dark-gray);
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  /* padding: 0 10%; */
  line-height: 2rem;
}

#features p {
  margin-bottom: 5%;
}

#how-it-works h2 {
  margin-top: 5%;
}

#pricing h2 {
  margin-top: 5%;
}

#delivery h2 {
  margin-top: 5%;
}

.yt-wrap {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.yt-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

footer {
  position: absolute;
  min-height: 10%;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 2rem;
  margin-top: 5%;
}

footer ul {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer li {
  display: inline-block;
}

footer li a {
  color: var(--light-gray);
  text-decoration: none;
  border-bottom: 3px solid var(--complement2);
}

.sign {
  font-family: 'Courgette', cursive;
}

.source {
  font-family: 'Oswald', sans-serif;
}
